---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjIwYzAyNjA5ZDJjODY2OTdlYTcxMDc4OWMzYjhhNDY3NTFjOWM3N2I=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1567101800'
      Etag:
      - W/"81cfd3f7355205449fd1c754a01fc5fa"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":185285085,"node_id":"MDEwOlJlcG9zaXRvcnkxODUyODUwODU=","name":"battleship","full_name":"JoriPeterson/battleship","private":false,"owner":{"login":"JoriPeterson","id":48265011,"node_id":"MDQ6VXNlcjQ4MjY1MDEx","avatar_url":"https://avatars0.githubusercontent.com/u/48265011?v=4","gravatar_id":"","url":"https://api.github.com/users/JoriPeterson","html_url":"https://github.com/JoriPeterson","followers_url":"https://api.github.com/users/JoriPeterson/followers","following_url":"https://api.github.com/users/JoriPeterson/following{/other_user}","gists_url":"https://api.github.com/users/JoriPeterson/gists{/gist_id}","starred_url":"https://api.github.com/users/JoriPeterson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JoriPeterson/subscriptions","organizations_url":"https://api.github.com/users/JoriPeterson/orgs","repos_url":"https://api.github.com/users/JoriPeterson/repos","events_url":"https://api.github.com/users/JoriPeterson/events{/privacy}","received_events_url":"https://api.github.com/users/JoriPeterson/received_events","type":"User","site_admin":false},"html_url":"https://github.com/JoriPeterson/battleship","description":null,"fork":false,"url":"https://api.github.com/repos/JoriPeterson/battleship","forks_url":"https://api.github.com/repos/JoriPeterson/battleship/forks","keys_url":"https://api.github.com/repos/JoriPeterson/battleship/keys{/key_id}","collaborators_url":"https://api.github.com/repos/JoriPeterson/battleship/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/JoriPeterson/battleship/teams","hooks_url":"https://api.github.com/repos/JoriPeterson/battleship/hooks","issue_events_url":"https://api.github.com/repos/JoriPeterson/battleship/issues/events{/number}","events_url":"https://api.github.com/repos/JoriPeterson/battleship/events","assignees_url":"https://api.github.com/repos/JoriPeterson/battleship/assignees{/user}","branches_url":"https://api.github.com/repos/JoriPeterson/battleship/branches{/branch}","tags_url":"https://api.github.com/repos/JoriPeterson/battleship/tags","blobs_url":"https://api.github.com/repos/JoriPeterson/battleship/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/JoriPeterson/battleship/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/JoriPeterson/battleship/git/refs{/sha}","trees_url":"https://api.github.com/repos/JoriPeterson/battleship/git/trees{/sha}","statuses_url":"https://api.github.com/repos/JoriPeterson/battleship/statuses/{sha}","languages_url":"https://api.github.com/repos/JoriPeterson/battleship/languages","stargazers_url":"https://api.github.com/repos/JoriPeterson/battleship/stargazers","contributors_url":"https://api.github.com/repos/JoriPeterson/battleship/contributors","subscribers_url":"https://api.github.com/repos/JoriPeterson/battleship/subscribers","subscription_url":"https://api.github.com/repos/JoriPeterson/battleship/subscription","commits_url":"https://api.github.com/repos/JoriPeterson/battleship/commits{/sha}","git_commits_url":"https://api.github.com/repos/JoriPeterson/battleship/git/commits{/sha}","comments_url":"https://api.github.com/repos/JoriPeterson/battleship/comments{/number}","issue_comment_url":"https://api.github.com/repos/JoriPeterson/battleship/issues/comments{/number}","contents_url":"https://api.github.com/repos/JoriPeterson/battleship/contents/{+path}","compare_url":"https://api.github.com/repos/JoriPeterson/battleship/compare/{base}...{head}","merges_url":"https://api.github.com/repos/JoriPeterson/battleship/merges","archive_url":"https://api.github.com/repos/JoriPeterson/battleship/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/JoriPeterson/battleship/downloads","issues_url":"https://api.github.com/repos/JoriPeterson/battleship/issues{/number}","pulls_url":"https://api.github.com/repos/JoriPeterson/battleship/pulls{/number}","milestones_url":"https://api.github.com/repos/JoriPeterson/battleship/milestones{/number}","notifications_url":"https://api.github.com/repos/JoriPeterson/battleship/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/JoriPeterson/battleship/labels{/name}","releases_url":"https://api.github.com/repos/JoriPeterson/battleship/releases{/id}","deployments_url":"https://api.github.com/repos/JoriPeterson/battleship/deployments","created_at":"2019-05-06T23:17:53Z","updated_at":"2019-05-20T21:13:51Z","pushed_at":"2019-05-16T03:51:14Z","git_url":"git://github.com/JoriPeterson/battleship.git","ssh_url":"git@github.com:JoriPeterson/battleship.git","clone_url":"https://github.com/JoriPeterson/battleship.git","svn_url":"https://github.com/JoriPeterson/battleship","homepage":null,"size":58,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":2,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":196731577,"node_id":"MDEwOlJlcG9zaXRvcnkxOTY3MzE1Nzc=","name":"1904_m2_mid_mod","full_name":"ktsune/1904_m2_mid_mod","private":false,"owner":{"login":"ktsune","id":25758230,"node_id":"MDQ6VXNlcjI1NzU4MjMw","avatar_url":"https://avatars1.githubusercontent.com/u/25758230?v=4","gravatar_id":"","url":"https://api.github.com/users/ktsune","html_url":"https://github.com/ktsune","followers_url":"https://api.github.com/users/ktsune/followers","following_url":"https://api.github.com/users/kt[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjIwYzAyNjA5ZDJjODY2OTdlYTcxMDc4OWMzYjhhNDY3NTFjOWM3N2I=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OjIwYzAyNjA5ZDJjODY2OTdlYTcxMDc4OWMzYjhhNDY3NTFjOWM3N2I=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
[...]
